.profile-pic {
    display: inline-block;
    border-radius: 50%;
    width: 4em;
    margin: 0.5em;
}

.img-and-text input {
    display: inline-block;
    border: 1px solid range;
    border-radius: 0.5em;
    width: 80%;
    color: orange;
    background: transparent;
    outline: none;
    font-size: 2em;
    padding: 0.5em;
}

.twoot-container button {
    background: transparent;
    transition: background-color 1s, color 1s;
    border: 1px solid orange;
    color: orange;
    border-radius: 0.5em;
    float: right;
    font-size: 1.2em;
    padding: 0.5em;
}

.twoot-container button:hover {
    background-color: orange;
    color: #333;
}
