.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*
  // NOTES FOR FUTURE ON GRID
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  */
    grid-gap: 1em;
    height: 90vh;
}

.wrapper .left-nav {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    opacity: 0.9;
    padding: 1em;
    border-radius: 1em;
}

.wrapper .board {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    opacity: 0.9;
    padding: 1em;
    border-radius: 1em;
}

.wrapper .waves {
    background-image: linear-gradient(
        45deg,
        #ff9a9e 0%,
        #fad0c4 99%,
        #fad0c4 100%
    );
    opacity: 0.9;

    padding: 1em;
    border-radius: 1em;
}
