.left-nav-btn {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    transition: background-color 1s;
    border-radius: 1em;
    padding: 0.5em 1em;
}

.left-nav {
    text-align: center;
}

.left-nav div {
    padding: 1em;
}

.left-nav-btn:hover {
    background-color: #ff7b02;
}
