.left-nav-btn {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2em;
}

.left-nav {
    text-align: center;
}

.left-nav div {
    padding: 1em;
    transition: background-color 1s;
    border-radius: 1em;
}

.left-nav div:hover {
    background-color: orange;
}
